table.minimalistBlack {
  border: 1px solid #000000;
  width: 95%;
  text-align: left;
  margin: 32px auto;
  border-collapse: collapse;
  background: #FFFFFF;
}

table.minimalistBlack td,
table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
  background: #FFFFFF;
}

table.minimalistBlack tbody td {
  font-size: 20px;
  background: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 1px solid #000000;
}

table.minimalistBlack thead th {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  background: #CFCFCF;
}


h1 {
  font-size: 40px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #27C6D4;
  font-style: oblique;
  margin: 0;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 35px;
  text-align: center;
  color: #000000;
  margin: 0;
}

h3 {
  text-align: center;
  color: #000000;
  margin: 0;
}
.dropbtn {
  max-width: 400px;
  padding: 8px 15px;
  background: #e8e8e8;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(134, 134, 134, 0.25);
  border: 0px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-weight: 500;
  font-size: small;
  border:0.5px solid #bbbbbb;
  border-radius:10px;
}
.dropdown-content a:first-child{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.dropdown-content a:last-child{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.dropdown-content a{
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:not(:last-child) {

  border-bottom: 2px solid #2fa5ae;
}

.dropdown-content a:hover {background-color: #2fa5ae;
color:#ffffff;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e8e8e8;
}
.arrow{padding:0%;
}

a:visited{
  color: ;
}