div.myDiv{
  padding-top: 50px;

}

div.myLastDiv{
  padding-top: 50px;
  padding-bottom: 100px;

}
div.sfondo{
  height: 100%;
  background-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #d9e6e8;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 49.8%;
  background-color: #27C6D4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: rgb(30, 159, 173);
}

div {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}